.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-bg);
  font: var(--font-base);

  section {
    scroll-margin-top: 80px; /* hauteur de ta navbar */
    width: 100%;
  }
}
