.hero {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start; 
  width: 95%;
  min-height: 30vh; /* occupe bien l’écran */
  padding: 64px 32px;
  background: url('./home/hero-bg.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed; 
  text-align: left;
  border-radius: 16px;
}

.hero h1 {
  font-size: clamp(2rem, 4vw, 3rem); 
  font-weight: 700;
  color: var(--color-text);
  margin: 0;
}

.hero h2 {
  font-size: clamp(2rem, 4vw, 3rem);
  font-weight: 700;
  color: var(--color-accent);
  margin: 8px 0 0;
}
