.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  padding: 10px 20px;
  height: 80px;
  background-color: var(--color-bg);

  img {
    height: 100%;
    width: auto;
  }

  .links {
    display: flex;
    gap: 20px;

    a {
      text-decoration: none;
      color: inherit;
      font-weight: 700;
      transition: color 0.3s;
      text-transform: uppercase;
      color: var(--color-text);

      &:hover {
        color: var(--color-accent);
      }
    }
  }

  .auth-links {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 100%;

    button {
      background: none;
      padding: 8px;
      border-radius: 8px;
      cursor: pointer;
      font-weight: 600;
      transition: background-color 0.3s, color 0.3s;
      height: fit-content;
    }

    button:first-child {
      background: none;
      &&:hover {
        color: var(--color-accent);
      }
    }

    button:last-child {
      background-color: var(--color-accent);
      color: var(--color-bg);
    }

    img {
      height: 80%;
      width: auto;
      border-radius: 50%;
      border: 1px solid var(--color-accent);
    }
  }
}
